# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Assets
# this is a holding folder for trying out irs
 ir-src 

# Builds
cmake-build-debug
native/choc
native/juce
native/KeyzyClientLibrary
node_modules
build
dist
*.local
# public/assets
src/cables-ui
cables-ui
previousUI-versions

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp

/public/dsp.main.js
/cables-ui JSON export/
scripts/build-native.mjs
